<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pwd.dao.PasswordMapper" >
  <resultMap id="BaseResultMap" type="com.pwd.pojo.Password" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pwd_loginId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pwd_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pwd_describe" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pwd_account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pwd_url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="pwd_type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pwd_password" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, pwd_loginId, pwd_name, pwd_describe, pwd_account, pwd_url, pwd_type, pwd_password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from password
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pwd.pojo.Password" >
    insert into password (id, pwd_loginId, pwd_name, 
      pwd_describe, pwd_account, pwd_url, 
      pwd_type, pwd_password)
    values (#{id,jdbcType=INTEGER}, #{pwdLoginid,jdbcType=INTEGER}, #{pwdName,jdbcType=VARCHAR}, 
      #{pwdDescribe,jdbcType=VARCHAR}, #{pwdAccount,jdbcType=VARCHAR}, #{pwdUrl,jdbcType=VARCHAR}, 
      #{pwdType,jdbcType=INTEGER}, #{pwdPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pwd.pojo.Password" >
    insert into password
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pwdLoginid != null" >
        pwd_loginId,
      </if>
      <if test="pwdName != null" >
        pwd_name,
      </if>
      <if test="pwdDescribe != null" >
        pwd_describe,
      </if>
      <if test="pwdAccount != null" >
        pwd_account,
      </if>
      <if test="pwdUrl != null" >
        pwd_url,
      </if>
      <if test="pwdType != null" >
        pwd_type,
      </if>
      <if test="pwdPassword != null" >
        pwd_password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pwdLoginid != null" >
        #{pwdLoginid,jdbcType=INTEGER},
      </if>
      <if test="pwdName != null" >
        #{pwdName,jdbcType=VARCHAR},
      </if>
      <if test="pwdDescribe != null" >
        #{pwdDescribe,jdbcType=VARCHAR},
      </if>
      <if test="pwdAccount != null" >
        #{pwdAccount,jdbcType=VARCHAR},
      </if>
      <if test="pwdUrl != null" >
        #{pwdUrl,jdbcType=VARCHAR},
      </if>
      <if test="pwdType != null" >
        #{pwdType,jdbcType=INTEGER},
      </if>
      <if test="pwdPassword != null" >
        #{pwdPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pwd.pojo.Password" >
    update password
    <set >
      <if test="pwdLoginid != null" >
        pwd_loginId = #{pwdLoginid,jdbcType=INTEGER},
      </if>
      <if test="pwdName != null" >
        pwd_name = #{pwdName,jdbcType=VARCHAR},
      </if>
      <if test="pwdDescribe != null" >
        pwd_describe = #{pwdDescribe,jdbcType=VARCHAR},
      </if>
      <if test="pwdAccount != null" >
        pwd_account = #{pwdAccount,jdbcType=VARCHAR},
      </if>
      <if test="pwdUrl != null" >
        pwd_url = #{pwdUrl,jdbcType=VARCHAR},
      </if>
      <if test="pwdType != null" >
        pwd_type = #{pwdType,jdbcType=INTEGER},
      </if>
      <if test="pwdPassword != null" >
        pwd_password = #{pwdPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pwd.pojo.Password" >
    update password
    set pwd_loginId = #{pwdLoginid,jdbcType=INTEGER},
      pwd_name = #{pwdName,jdbcType=VARCHAR},
      pwd_describe = #{pwdDescribe,jdbcType=VARCHAR},
      pwd_account = #{pwdAccount,jdbcType=VARCHAR},
      pwd_url = #{pwdUrl,jdbcType=VARCHAR},
      pwd_type = #{pwdType,jdbcType=INTEGER},
      pwd_password = #{pwdPassword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>